<div class="container">
  <form class="form-horizontal" novalidate>
    <fieldset>
      <div id="legend">
        <legend class="text-danger">Authorized User Only</legend>
      </div>
      <ng-form name="loginForm">
        <div class="control-group">
          <div class="input-group col-md-6 col-md-offset-3"  ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.username.$dirty}">
            <input type="text" id="username" name="username" class="form-control" required ng-model="loginDetails.username" placeholder="username" />
            <p class="help-block" ng-show="loginForm.username.$invalid && loginForm.username.$dirty">Valid User Name Required</p>
          </div>
        </div>
          <div class="control-group">
            <div class="input-group col-md-6 col-md-offset-3"  ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.username.$dirty }">
              <input type="password" id="password" name="password"  class="form-control" required ng-model="loginDetails.password" placeholder="password"/>
              <p class="help-block" ng-show="loginForm.password.$invalid && loginForm.username.$dirty">Valid User Password Required</p>
            </div>
          </div>
        <div class="control-group">
          <div class="input-group col-md-6 col-md-offset-3 controls">
            <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid" ng-click="login(loginDetails)" style="margin-right:5px;">Sign in</button>
            <a href="#/user/register"  ui-sref="userRegister" class="btn btn-success">Register</a>
          </div>
        </div>
      </ng-form>
    </fieldset>
  </div>

</div>
